
table th{
    text-align: left ;
}
table td{
    border: 1px solid lightgrey;
    padding: 4px 8px;
}
table tr{
    background-color: lightslategray;
}
.greenTotal{
    background-color: green;

}

.orangeTotal{
    background-color: orange;
}

.redTime{
    background-color: rgb(187, 94, 94);
}

.lightGreen{
    background-color: palegreen;
}

.green{
    background-color: rgb(58, 158, 58);
}
    

.deepGreen{
    background-color: green;
}
    
