/*giving the style for the table*/
table{
    display: flex;
    justify-content: center;
    padding: 5em;
}
table th{
    text-align: left ;
    border-radius: 0.5em;
    border: 1px solid rgb(172, 158, 158);
    background-color: rgb(101, 147, 192);
}
table td{
    border: 1px solid rgb(172, 158, 158);
    padding: 4px 8px;
    background-color: rgb(101, 147, 192);
   
}
table tr{
    /* background-color: rgb(101, 147, 192); */
   
}
.greenTotal{
    background-color: green;

}

.orangeTotal{
    background-color: orange;
}

.redTime{
    background-color: rgb(187, 94, 94);
}

.lightGreen{
    background-color: rgb(93, 158, 93);
}

.green{
    background-color: palegreen;
}
    

.deepGreen{
    background-color: green;
}
    
